---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---

<html lang="en">
  <BaseLayout pageTitle={pageTitle}>
    <h2>My beautiful wife - Akechi</h2>
  </BaseLayout>
  <body>
    <Header />
    <h1>明明症患者的 blog</h1>
    <h1>Akechi Daisuki</h1>
    <h1>{pageTitle}</h1>
    <p>今天也是同样地厌恶世界，除了明明</p>
    <ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
      <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
