---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "About Me";
---

<html lang="en">
  <BaseLayout pageTitle={pageTitle}>
  
    <h1>明明症患者的 blog</h1>
    <h1>Akechi Daisuki</h1>
    <h1>{pageTitle}</h1>
    <p>今天也是同样地厌恶世界，除了明明</p>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </BaseLayout>
</html>
