---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>提问：我最喜欢哪个游戏角色?</h1>
  <h2>My beautiful wife - Akechi</h2>
  <Greeting messages={["我们都喜欢明明", "明明好", "今天背诵明明经了吗", "Hey there"]} />
</BaseLayout>