---
import i18next, { t } from "i18next";
---

<div class="nav-links">
  <a href="/">{t("nav-links.home")}</a>
  <a href="/about">{t("nav-links.about")}</a>
  <a href="/blog">{t("nav-links.blog")}</a>
  <a href="/tags">{t("nav-links.tags")}</a>
</div>
