---
// const platform = "Bilibili";
// const userID = "504479248";
import Social from './Social.astro';
import "../styles/global.css";
---

<footer>
  <p>
    <!-- Learn more about Akechi on <a href={`https://space.bilibili.com/${userID}`}
      >{platform}</a
    >! -->
  </p>
</footer>
