---
// const platform = "Bilibili";
// const userID = "504479248";
import Social from "./Social.astro";
import "../styles/global.css";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <p>
    <!-- Learn more about Akechi on <a href={`https://space.bilibili.com/${userID}`}
      >{platform}</a
    >! -->
    <Social platform="bilibili" username="" />
    <Social platform="GitHub" username="Honggeiry" />
  </p>
</footer>
