---
const platform = "Bilibili";
const userID = "withastro";
---

<footer>
  <p>
    Learn more about Akechi on <a href={`https://space.bilibili.com/${userID}`}
      >{platform}</a
    >!
  </p>
</footer>
